/*HOME PAGE & GENERAL NAV*/
body {
  font-family: "Poppins", sans-serif;
}
/* Nav Bar CSS styling */
.navList {
  list-style-type: none;
  margin: 2rem 2rem;
  padding: 0;
  overflow: hidden;
  background-color: #2b4f18;
}

.navLink {
  float: left;
}

.navLink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changes the link color when hovered over with cursor */
.navLink a:hover {
  background-color: #a0af84;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  align-items: center;
}

.container {
  background: #a0af84;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.title {
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 119.7%;
}

p.description {
  color: white;
  font-size: 1rem;
  text-align: justify;
}

.farmer {
  max-width: 75%;
  border-radius: 1rem;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*CONTACT US*/
.map {
  align-items: center;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

/*Form CSS*/
form {
  padding-right: 0.5rem;
  flex: 1;
  margin: 10%;
  color: white;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

/*.partnerimgEB {
  width:200px;
  height:200px;
  border-style: double;
}

.partnerimg2EB {
  width:200px;
  height:100px;
  border-style:double;
}

.partnerimg3EB {
  width:400px;
  height:100px;
  border-style:double;
}
*/

.ateam{display: flex;
  flex-direction: row;
  background: gray;}

.ateam > div {
background-color:green;
 margin:10px ;
 padding: 20px;
 font-size: 30px;
  }  
  li.title{
    color:black;
    font-size:2rem;
    text-align: center;
  }

  /*.rowEB {
    display:flex;
    flex-flow:row wrap;
    flex:wrap;
    flex-direction:row;
    margin:100px 100px 100px 100px;
  }*/
  
  /*.columnEB {
    display:flex;
    padding:1%;
    margin:1%;
    flex:wrap;}*/

    .columnEB {
      display:inline-block;
      margin-right:50px;
      justify-content:center;
    
    }

    .containerEB {
      margin:auto;
      width:50%;
      padding:30px;
    }
  
    .EBh1 {
      margin-left:100px;
    }

    .parentcontainer {
      background: #a0af84;
      margin: 1rem;
      padding: 1rem;
      border-radius: 0.4rem;
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }




