/* Nav Bar CSS styling */
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4f18;
}

.navLink {
  float: left;
}

.navLink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changes the link color when hovered over with cursor */
.navLink a:hover {
  background-color: #a0af84;
}

/*Flexbox columns home page*/

.row {
  display: flex;
}
.column1 {
  flex: 50%;
  padding: 5px;
}
.column2 {
  color: #2b4f18;
  flex: 33.33%;
  padding: 5px;
  position: inherit;
}

.partnerimg {
width:100px;
height:100px;
border-style:double;
}

