/*HOME PAGE & GENERAL */
body {
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

.buttons {
  align-items: center;
}
/* Nav Bar CSS styling */
.navList {
  list-style-type: none;
  margin: 2rem 2rem;
  padding: 0;
  overflow: hidden;
  background-color: #2b4f18;
}

.navLink {
  float: left;
}

.navLink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changes the link color when hovered over with cursor */
.navLink a:hover {
  background-color: #a0af84;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  align-items: center;
}

.container {
  background: #a0af84;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.title {
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 119.7%;
}

p.description {
  color: white;
  font-size: 1rem;
  text-align: justify;
}

.farmer {
  max-width: 75%;
  border-radius: 1rem;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*CONTACT US*/
.map {
  align-items: center;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

/*Form CSS*/
form {
  padding-right: 0.5rem;
  flex: 1;
  margin: 10%;
  color: white;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

/*.partnerimgEB {
  width:200px;
  height:200px;
  border-style: double;
}

.partnerimg2EB {
  width:200px;
  height:100px;
  border-style:double;
}

.partnerimg3EB {
  width:400px;
  height:100px;
  border-style:double;
}
*/

.ateam {
  display: flex;
  flex-direction: row;
  background: gray;
}

.ateampd > div {
  background-color: green;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
li.titlepd {
  color: black;
  font-size: 2rem;
  text-align: center;
}

.veggies1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  align-items: center;
}
.logofarm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  align-items: center;
}
.bodycolor {
  background-color: rgb(49, 158, 49);
}
.orderone {
  background-color: rgb(187, 13, 42);
}
.boxsin {
  background-color: linen;
  font-style: italic;
}
.children {
  background-color: lightblue;
}

.Paragraph {
  background-color: lightseagreen;
}

.Better {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*About*/

.asthetic {
  background-color: darkseagreen;
  padding: 20px;
  border-radius: 5px;
}

.imgcontainerpd {
  display: flex;
}
.sidepd {
  display: flex;
}
.imgpd {
  width: 600px;
  margin: 5px;
  align-items: center;
}

.pol {
  font-size: 1rem;
  font-style: italic;
  border: gold;
  border-radius: 5px;
  border-style: dotted;
  position: center;
  width: fit-content;
  padding: 10px;
}

.pol2 {
  align-content: center;
}

/*Healthyhabits*/

.healthyContainer {
  background-color: #b8d387;
  align-items: center;
}
.healthy-headers {
  text-align: center;
  color: #009f93;
  font-size: 40px;
  padding: 1rem;
}

.img-healthy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  align-items: center;
}

.img-healthy-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.healthy-paragraphs {
  color: #9a049f;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.survey {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #2d3818;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*.rowEB {
    display:flex;
    flex-flow:row wrap;
    flex:wrap;
    flex-direction:row;
    margin:100px 100px 100px 100px;
  }*/

/*.columnEB {
    display:flex;
    padding:1%;
    margin:1%;
    flex:wrap;}*/

.columnEB {
  display: inline;
  margin-right: 50px;
}

.containerEB {
  margin: auto;
  max-width: fit-content;
  padding: 2rem;
  float: left;
  overflow: auto;
}

.EBh1 {
  text-align: center;
}

.parentcontainer {
  overflow: auto;
  /*background: #a0af84;*/
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  max-width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Products*/

.logoPro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 1rem;
  align-items: center;
}

.productContainer {
  background-color: #b8d387;
  padding: 20px;
  border-radius: 10px;
}

.vegPro {
  display: block;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 3rem;
  align-items: center;
}

.products {
  background-color: #b8d387;
  padding: 20px;
  border-radius: 10px;
}
